
@{
    ViewBag.Title = "About";
}
<section class="whtcon"> <h1> About this site</h1>
                         <article>
                             <p>
                                 Hi, I am Gunce Rahaman, This website is a project I have developed for my portfolio.
                             </p>
                             <p>I have used ASP.net MVC with logins, it has two tables database on sql server. <br />
                             I designed CSS and HTML from scratch without use of bootstrap.<br /> I tried to make it as responsive as possible, however somegames may not be responsive to mobile devices as they are externally sourced.</p>
                             <p>
                                 Tables were made using <a href="https://datatables.net/" target="_blank">Datatables</a>
                             </p> <p>
   <br />
  
</p>

                                  <p>
                                      You can see my portfolio <a href="http://www.guncerahaman.co.uk" target="_blank">here.</a>
                                  </p>  </article></section>


